<div class="row">
  <div class="col-md-12 col-md-offset-10">
    <%= link_to("Registrar academia", new_gym_path, class: "btn btn-primary", html_options: {role: "button" }) %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Nome Fantasia</th>
          <th>CNPJ</th>
          <th>Horário de abertura</th>
          <th>Horário de fechamento</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @gyms.each do |gym| %>
        <tr>
          <td><%= gym.name %></td>
          <td><%= gym.cnpj %></td>
          <td><%= gym.opening_time_in_sec %></td>
          <td><%= gym.closing_time_in_sec %></td>
          <td><%= gym.status %></td>
          <% if current_user.gympass_employee? %>
          <td>
            <%= button_to "Aprovar", approve_gym_path(gym), method: :patch,
            data: { confirm: "Deseja realmente aprovar a academia #{gym.name}?" },
            class: "btn btn-warning", disabled: gym.approved? %>
          </td>
          <% end %>
          <td>
            <%= button_to "Deletar", gym, method: :delete,
            data: { confirm: "Deseja realmente remover a #{gym.name}?" },
            class: "btn btn-danger" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
