<p>
  <strong>Nome Fantasia:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>CNPJ:</strong>
  <%= @gym.cnpj %>
</p>

<p>
  <strong>Horário de abertura:</strong>
  <%= @gym.opening_hourary %>
</p>
<p>
  <strong>Horário de fechamento:</strong>
  <%= @gym.closing_hourary %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @gym.location.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @gym.location.longitude %>
</p>
<div class="row">
  <div class="col-md-2">
    <%= link_to "Voltar", root_path %>
  </div>
  <div class="col-md-2">
    <%= button_to "Solicitar Token", daily_token_path(gym_id: @gym.id), method: :post,
    data: { confirm: "Deseja realmente solicitar seu token diário para a academia #{@gym.name}?" },
    class: "btn btn-warning", disabled: @gym.closed? %>
  </div>
</div>
