<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Gympass Toy App", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
          <% if current_user.gym_manager? or current_user.gympass_employee?  %>
            <li><%= link_to "Cadastro de academias", gyms_path %></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="current-user-name">Olá <%= current_user.name %></li>
          <li><%= button_to "Sair", logout_path, method: "delete", class: "btn btn-default" %></li>
        <% else %>
          <li><%= link_to "Cadastro", signup_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
